---
import AposArea from '@apostrophecms/apostrophe-astro/components/AposArea.astro';
import Breadcrumbs from '../components/Breadcrumbs.astro';

const { page } = Astro.props.aposData;
---

<Breadcrumbs {page} />

<div class="page-title-wrapper">
  <h1 class="page-title">{page.title}</h1>
</div>

<div class="layout">
  <main>
    <div class="general-content">
      <AposArea area={page.main} />
    </div>
  </main>
</div>
