---
import AposArea from '@apostrophecms/apostrophe-astro/components/AposArea.astro';
const { page, user, query } = Astro.props.aposData;
const { main } = page;
---

<section class="bp-welcome">
  <h1 class="bp-welcome__headline">
    Welcome to Big page
  </h1>
</section>
